body, ul, li, h3, p{
	margin:0px;
	padding:0;
}

a {
	text-decoration:none;
	color: gray;
}

li {
	list-style-type:none;
}

img {
	vertical-align:bottom;
}

/*
	1. 배경색 f4f4f4를 설정하고
	큰 향수 이미지를 배경 이미지로 붙여주세요.

    2. Sidebar 레이아웃만 잡아주세요.
	너비값 300px

	태블릿 사이즈 1024px

	모바일 사이즈 768px

*/

html, body {
	height: 100%;
	background-color: #f4f4f4;
	background-image: url('images/big-perfume.png');
	background-position: right bottom;
	background-repeat: no-repeat;
	background-size: 35%;
	background-attachment: fixed;
}

.sidebar {
	position: fixed;
	width: 250px;
	height: 100%;
	background-color: #222;
}

.content {
	width: calc(100% - 250px);
	max-width: 840px;
	float: right;
}

.logo {
	width: 150px;
	margin: 40px auto;
}

.logo img {
	width: 150px;
}

.gnb-one, .gnb-two {
	width: 250px;
	font-size: 13px;
	line-height: 25px;
	margin: 30px auto;
	text-align: center;
}

ul.perfumes-list {
	width: 200px;
}

.perfume {
	float: left;
	width: 250px;
	height: 300px;
	margin: 0 15px 15px;
	background-color: #fff;
	box-shadow:
	0px -70px 30px -20px inset rgba(174, 0, 255, 0.3),
	0px 1px 5px 0px rgba(0, 0, 0, 0.3);
}

.perfume h3 {
	float: left;
	width: 250px;
	height: 300px;
	margin: 0 15px 15px;
	box-shadow:
	0px -70px 30px -20px inset rgba(174, 0, 255, 0.3),
	0px 1px 5px 0px rgba(0, 0, 0, 0.3);
}

#perfumes-list li:nth-child(1) .perfume { background-position: center 0; background-size: 250px; background-image: url('images/0.png'); }
#perfumes-list li:nth-child(2) .perfume { background-position: center 0; background-size: 250px; background-image: url('images/1.png'); }
#perfumes-list li:nth-child(3) .perfume { background-position: center 0; background-size: 250px; background-image: url('images/2.png'); }
#perfumes-list li:nth-child(4) .perfume { background-position: center 0; background-size: 250px; background-image: url('images/3.png'); }
#perfumes-list li:nth-child(5) .perfume { background-position: center 0; background-size: 250px; background-image: url('images/4.png'); }
#perfumes-list li:nth-child(6) .perfume { background-position: center 0; background-size: 250px; background-image: url('images/5.png'); }
#perfumes-list li:nth-child(7) .perfume { background-position: center 0; background-size: 250px; background-image: url('images/6.png'); }
#perfumes-list li:nth-child(8) .perfume { background-position: center 0; background-size: 250px; background-image: url('images/7.png'); }
#perfumes-list li:nth-child(9) .perfume { background-position: center 0; background-size: 250px; background-image: url('images/8.png'); }
#perfumes-list li:nth-child(10) .perfume { background-position: center 0; background-size: 250px; background-image: url('images/9.png'); }
#perfumes-list li:nth-child(11) .perfume { background-position: center 0; background-size: 250px; background-image: url('images/10.png'); }
#perfumes-list li:nth-child(12) .perfume { background-position: center 0; background-size: 250px; background-image: url('images/11.png'); }
#perfumes-list li:nth-child(13) .perfume { background-position: center 0; background-size: 250px; background-image: url('images/12.png'); }
#perfumes-list li:nth-child(14) .perfume { background-position: center 0; background-size: 250px; background-image: url('images/13.png'); }
#perfumes-list li:nth-child(15) .perfume { background-position: center 0; background-size: 250px; background-image: url('images/14.png'); }
#perfumes-list li:nth-child(16) .perfume { background-position: center 0; background-size: 250px; background-image: url('images/15.png'); }
#perfumes-list li:nth-child(17) .perfume { background-position: center 0;  background-size: 250px;background-image: url('images/16.png'); }

.gnb-one li:hover, .gnb-two li:hover {
	background-color: #111;
}